#
# @fileoverview Workflow for building deploying documentation content to GitHub Pages
# @copyright Applied Social Media Lab, Berkman Klein Center at Harvard University, 2025
#
# @author Johnny Richardson
#
# ==========

name: Deploy Docs to Pages

on:
  # Runs on pushes targeting our default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  # Single deploy job since we're just deploying
  build_docs:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Use Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: "22"
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install
        run: npm install
      - name: Generate types
        env:
          API_URL: ${{ secrets.API_URL }}
        run: |
          if [ -z "$API_URL" ]; then
            echo "Error: API_URL secret is not set" >&2
            exit 1
          fi
          npm i -g openapi-typescript 
          npm run openapi-types:generate "$API_URL/openapi.json"
      - name: Build docs
        working-directory: ./
        run: npm run docs
      - name: Fix permissions
        run: |
          chmod -c -R +rX "./docs/" | while read line; do
            echo "::warning title=Invalid file permissions automatically fixed::$line"
          done
      - name: Create tarball
        run: tar -czvf ./github-pages.tar.gz ./docs
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: "./docs"
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
